## Action plan 

- [x] Load and prepare dataset 
- [ ] Set up model for training 
- [ ] Performance metrics 
- [ ] Export and Test in streamlit

In [3]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn.preprocessing import OrdinalEncoder
import datetime

In [2]:
dataset = pd.read_csv("./dataset/occupancy_est.csv")
ordinal_encoder = OrdinalEncoder()
dataset.head()

,Date,Time,S1_Temp,S2_Temp,S3_Temp,S4_Temp,S1_Light,S2_Light,S3_Light,S4_Light,S1_Sound,S2_Sound,S3_Sound,S4_Sound,S5_CO2,S5_CO2_Slope,S6_PIR,S7_PIR,Room_Occupancy_Count
0,2017/12/22,10:49:41,24.94,24.75,24.56,25.38,121,34,53,40,0.08,0.19,0.06,0.06,390,0.769231,0,0,1
1,2017/12/22,10:50:12,24.94,24.75,24.56,25.44,121,33,53,40,0.93,0.05,0.06,0.06,390,0.646154,0,0,1
2,2017/12/22,10:50:42,25.00,24.75,24.50,25.44,121,34,53,40,0.43,0.11,0.08,0.06,390,0.519231,0,0,1
3,2017/12/22,10:51:13,25.00,24.75,24.56,25.44,121,34,53,40,0.41,0.10,0.10,0.09,390,0.388462,0,0,1
4,2017/12/22,10:51:44,25.00,24.75,24.56,25.44,121,34,54,40,0.18,0.06,0.06,0.06,390,0.253846,0,0,1

- We fuse the date and time then convert them to a timestamp

In [11]:
# convert the date and time in dataset to dateime type
# convert the date and time in dataset to datetime type
dataset["Timestamp"] = pd.to_datetime(dataset["Date"] + " " + dataset["Time"])
#dataset.drop(["Date","Time"],axis=1,inplace=True)

KeyError: 'Date'

In [23]:
dt = dataset["Timestamp"][0]
dt.timestamp()

1513939781.0

In [28]:
dataset["Timestamp"] = dataset["Timestamp"].apply(lambda x: x.timestamp())

AttributeError: 'float' object has no attribute 'timestamp'

In [30]:
dataset.head()

,S1_Temp,S2_Temp,S3_Temp,S4_Temp,S1_Light,S2_Light,S3_Light,S4_Light,S1_Sound,S2_Sound,S3_Sound,S4_Sound,S5_CO2,S5_CO2_Slope,S6_PIR,S7_PIR,Room_Occupancy_Count,Timestamp
0,24.94,24.75,24.56,25.38,121,34,53,40,0.08,0.19,0.06,0.06,390,0.769231,0,0,1,1.513940e+09
1,24.94,24.75,24.56,25.44,121,33,53,40,0.93,0.05,0.06,0.06,390,0.646154,0,0,1,1.513940e+09
2,25.00,24.75,24.50,25.44,121,34,53,40,0.43,0.11,0.08,0.06,390,0.519231,0,0,1,1.513940e+09
3,25.00,24.75,24.56,25.44,121,34,53,40,0.41,0.10,0.10,0.09,390,0.388462,0,0,1,1.513940e+09
4,25.00,24.75,24.56,25.44,121,34,54,40,0.18,0.06,0.06,0.06,390,0.253846,0,0,1,1.513940e+09